/***** GLOBAL VARIABLES *****/
:root {
    --default-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    --color-cape-cod: #3A3E3F;
    --filtered-cape-cod: invert(22%) sepia(0%) saturate(1898%) hue-rotate(242deg) brightness(91%) contrast(86%);
    --color-shark: #292C2E;
    --filtered-shark: #invert(14%) sepia(8%) saturate(460%) hue-rotate(160deg) brightness(97%) contrast(92%);
    --color-nobel: #BCB7B7;
    --filtered-nobel: invert(85%) sepia(10%) saturate(85%) hue-rotate(314deg) brightness(90%) contrast(79%);
    --color-thunderbird: #B91C1C;
    --filtered-thunderbitd: invert(14%) sepia(70%) saturate(3281%) hue-rotate(350deg) brightness(117%) contrast(92%);
    --color-flamingo: #EF4444;
    --filtered-flamingo: invert(42%) sepia(57%) saturate(6877%) hue-rotate(341deg) brightness(104%) contrast(95%);
    --color-athens-gray: #F4F4F5;
    --filtered-athens-gray: invert(97%) sepia(2%) saturate(2513%) hue-rotate(147deg) brightness(113%) contrast(95%);
    --filtered-white: invert(100%) sepia(0%) saturate(2%) hue-rotate(248deg) brightness(107%) contrast(101%);
    --vertical-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --horizontal-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    /** for modal buttons or modal corners **/
    --primary-border-radius: 20px;
    /** add task, tags, prj, input **/
    --secondary-border-radius: 40px;
    /** static dimensions **/
    --ribbon-width: 40px;
    --sidebar-width: 280px;
    --header-height: 100px;
    --footer-height: 30px;
    --main-width: calc(var(--sidebar-width) + var(--ribbon-width));
    --main-height: calc(var(--header-height) + var(--footer-height));
}

/***** BASE ELEMENTS *****/
* {
    box-sizing: border-box;
    user-select: none;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    height: max-content;
    width: 100vw;
    font-family: var(--default-font);
    display: grid;
    grid-template-areas: "ribbon sidebar header"
        "ribbon sidebar main"
        "ribbon sidebar footer";
}

.searchbar:focus-within {
    outline: 2px solid var(--color-flamingo);
}

img, button, a, select, .task-bar {
    cursor: pointer;
}

/***** REUSABLE ELEMENTS *****/
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar>input {
    height: 100%;
    outline: none;
    border: 0;
    background-color: inherit;
    border-radius: inherit;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

/***** LAYOUT ELEMENTS *****/
.ribbon, .sidebar {
    height: 100vh;
}

.ribbon {
    width: var(--ribbon-width);
    height: 100vh;
    background-color: var(--color-cape-cod);
    grid-area: ribbon;
    z-index: 30;
    box-shadow: var(--horizontal-box-shadow);
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-height) - calc(var(--header-height) * .5)) 0px;
    align-items: center;
}

.ribbon>* {
    width: 100%;
}

.ribbon img {
    width: 100%;
    height: auto;
    filter: var(--filtered-nobel);
}

.ribbon img.active {
    filter: var(--filtered-flamingo);
}

.ribbon img:hover {
    filter: var(--filtered-athens-gray);
}

.ribbon-folders {
    flex: 1;
    padding: 20px 5px;
}

.data-remove-wrapper {
    display: flex;
    align-self: flex-end;
    margin-bottom: var(--footer-height);
}

/*** SIDEBAR ***/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-area: sidebar;
    background-color: var(--color-cape-cod);
    width: var(--sidebar-width);
    box-shadow: var(--horizontal-box-shadow);
    overflow: auto;
    z-index: 140;
}

.sidebar__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.searchbar {
    display: grid;
    align-items: center;
    align-self: center;
    grid-auto-flow: column;
    height: 27px;
    width: min(220px, 90%);
    background-color: var(--color-athens-gray);
    border-radius: var(--primary-border-radius);
    margin: 30px 0 18px 0;
}

.searchbar img {
    padding-left: 8px;
    filter: var(--filtered-nobel);
}

.organizer {
    flex: 1;
    width: 100%;
    background-color: var(--color-shark);
    padding: 5px 10px 5px 30px;
    margin-bottom: 30px;
    border-bottom-left-radius: var(--secondary-border-radius);
    color: var(--color-nobel);
}

.organizer__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.organizer__filter .filter {
    padding: 8px 15px 20px 15px;
    margin-bottom: -10px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.organizer__filter .active {
    background-color: var(--color-shark);
}

.accumulator {
    border-radius: var(--secondary-border-radius);
    border: 2px solid var(--color-nobel);
    background-color: transparent;
    color: var(--color-nobel);
    font-size: 20px;
    width: min(240px, 100%);
    padding: 6px 20px;
}

.folder__note {
    line-height: 18px;
}

.folder>* {
    margin: 10px 0;
}

.folder {
    display: flex;
    flex-direction: column;
}

.folder__list {
    flex: 1;
    border-top: 2px solid #3D3D3D;
    padding: 12px 0;
    overflow-y: auto;
    max-height: 100%;
}

.logo {
    width: 90%;
    height: auto;
}

.folder__tab {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: var(--secondary-border-radius);
    padding: 7px 10px 7px 15px;
    margin-bottom: 3px;
    transition: all .1s ease-in;
}

.folder__tab.active {
    background-color: var(--color-flamingo);
}

.folder__tab:not(.active):hover {
    background-color: var(--color-cape-cod);
}

.folder__tab img {
    filter: var(--filtered-white);
}

.tab-title, .row-items-holder {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.tab-title {
    pointer-events: none;
}

.tab-name {
    word-break: break-all;
}

.edit-input {
    width: 100%;
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
}

/*** HEADER ***/
.header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: calc(100vw - var(--main-width));
    background-color: var(--color-flamingo);
    font-size: 52px;
    grid-area: header;
    z-index: 50;
    color: #fff;
    box-shadow: var(--vertical-box-shadow);
}

.project__title--large {
    padding: 0 0 0 40px;
    vertical-align: middle;
}

/*** MAIN ***/
.main {
    width: calc(100vw - var(--main-width));
    height: calc(100vh - var(--main-height));
    background-color: var(--color-athens-gray);
    grid-area: main;
    z-index: 10;
}

.main>* {
    padding: 25px;
    margin: 0 20px;
}

.task-handler__options:not(.hide) {
    display: inline-block;
}

.task-handler__options>button {
    border-radius: var(--secondary-border-radius);
    color: var(--color-flamingo);
    background: #FFFFFF;
}

.task-handler__options>select {
    background: var(--color-flamingo);
    color: #fff;
}

.task-handler__options>* {
    margin: 0 20px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    font-size: clamp(1.1rem, 1.1vw, 2.2rem);
    padding: 10px 30px;
}

.task-handler__options>button:active {
    transform: scale(0.95);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: #fff;
}

.task-bar, .checklist-bar {
    display: flex;
}

.task-control {
    background-color: var(--color-thunderbird);
}

.checklist-control {
    background-color: var(--color-flamingo);
}

.task__due-date {
    display: flex;
    align-items: center;
}

.task-control {
    display: flex;
    justify-content: center;
    position: relative;
}

.task-control label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
    margin: 3px;
}

.task-control label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;
}

.task-control input[type="checkbox"] {
    width: 18px;
    height: 18px;
    visibility: hidden;
}

.task-control input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.task-control input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.task-bar {
    border: 2px solid #fff;
}

.task-bar:hover {
    border: 2px solid var(--color-thunderbird);
}

.task-wrapper {
    margin: 5px 0;
}

.task-tags-wrapper{
    height: max-content;
}
.ck-btn {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.ck-btn :hover {
    background-color:var(--color-flamingo);
    color: #fff;
}

.ck-btn  label {
    float:left;
    width: fit-content;
}

.ck-btn  label span {
    text-align:center;
    padding:5px 14px;
    display:block;
}

.ck-btn  label input {
    position:absolute;
    top:-20px;
}

.ck-btn  input:checked + span {
    background:var(--color-thunderbird);
    color:#fff;
}
/*** FOOTER ***/
.footer {
    position: absolute;
    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    grid-area: footer;
    z-index: 150;
    background-color: var(--color-cape-cod);
}

.footer-content {
    display: flex;
    justify-content: center;
    color: var(--color-athens-gray);
}

/*** MODAL ***/
.modal-overlay:not(.hide) {
    display: flex;
    display: -ms-flexbox;
}

.modal-overlay {
    position: fixed;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    transition: opacity 0.75s;
}

.modal-overlay::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%;
}

.modal-container__upper {
    border-top-left-radius: var(--primary-border-radius);
    border-top-right-radius: var(--primary-border-radius);
}

.modal-container__lower {
    border-bottom-left-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
}

/*** MODAL CONTENT - TASK EDITOR ***/
.modal__task {
    border-radius: var(--primary-border-radius);
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s, opacity 0.2s;
    height: max-content;
    min-height: 600px;
    width: min(355px, calc(100% - 20px));
    animation: showTaskForm 0.3s;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 0 0 20px 0;
    align-self: center;
    z-index: 501;
}

.modal__task .modal-container__upper {
    position: relative;
    background-color: var(--color-flamingo);
    height: min(160px, 100%);
    font-size: clamp(1rem, 1.1vw, 2rem);
    color: #fff;
    padding: 5px 0 20px 0;
}

.modal-dialog__header, .modal-dialog__inputs {
    padding: 12px 25px;
}

.modal-dialog__header {
    justify-content: space-between;
    display: flex;
}

.modal__task .modal-container__lower {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: min(90px, 100%);
}

.response-btn {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: clamp(1rem, 1vw, 2rem);
    color: white;
}

.response-btn:hover {
    background-color: #fff;
    border: 0;
    padding: 10px 5px;
    font-size: clamp(1rem, 1vw, 2rem);
    color: var(--color-flamingo);
}

.modal__task-label {
    display: flex;
    align-self: center;
}

.modal-dialog__header {
    display: flex;
}

.modal-dialog__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    font-size: clamp(.8rem, .7vw, 1.8rem);
    width: 100%;
}

.modal-dialog__inputs>label>*:not(button) {
    display: block;
    width: 100%;
}

/*** SWEET ALERT ***/
.swal-modal {
    background-color: var(--color-thunderbird);
}

.swal-text {
    color: #fff;
}

@keyframes showTaskForm {
    0% {
        transform: scale(1);
    }

    1% {
        transform: scale(0.5);
    }

    45% {
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 950px) {
    .sidebar {
        position: absolute;
        left: var(--ribbon-width);
    }

    .main, .header {
        width: min(calc(100vw - var(--ribbon-width)));

    }
}

@media screen and (max-width: 500px) {
    .modal__task {
        width: calc(100% - 20px);
    }
}